* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 

.loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: fill;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: hideLoading 4s forwards; 
    
}

.loading img {
    width: 250px;
    margin: 15% 0% 0% 40%;
}

@keyframes hideLoading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.title {
    animation: fadeIn 3s ease-in-out forwards; 
    opacity: 0;
    transition: opacity 5s ease;
    filter: blur(5px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(5px);
    }
    100% {
        opacity: 1; 
        filter: blur(0);
    }
}